<!-- Config file -->

<config>
  <app framerate_cap="30">
    <title>Warpolis</title>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <title>Warpolis project by Albert Llopart</title>
    <resolution width="1920" height="1080" scale="5"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <input>
    <controller file="controller/gamecontrollerdb.txt"/>
  </input>

  <textures>
  </textures>

  <audio>
    <volume music="32" fx ="128"/>
  </audio>

  <scene>
  </scene>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <gui>
    <atlas file="gui/atlas.png"/>
    <buttons>
      <command_button x="0" y="0" w="73" h="27"/>
    </buttons>
  </gui>

  <map>
    <folder>maps/</folder>
    <level_1 file="map1.tmx"/>
  </map>

  <player>
    <position x="15" y="10"/>
    <offset x="-3" y="-3"/>
    <animation>
      <idle speed="5.0">
        <frame_1 x="0" y="0" w="22" h="22"/>
        <frame_2 x="22" y="0" w="22" h="22"/>
      </idle>
      <arrow>
        <frame_1 x="0" y="32" w="16" h="16"/>
        <frame_2 x="16" y="32" w="16" h="16"/>
        <frame_3 x="32" y="32" w="16" h="16"/>
        <frame_4 x="48" y="32" w="16" h="16"/>
        <frame_5 x="64" y="32" w="16" h="16"/>
        <frame_6 x="0" y="48" w="16" h="16"/>
        <frame_7 x="16" y="48" w="16" h="16"/>
        <frame_8 x="32" y="48" w="16" h="16"/>
        <frame_9 x="48" y="48" w="16" h="16"/>
        <frame_10 x="64" y="48" w="16" h="16"/>
      </arrow>
    </animation>
  </player>

  <entities>
    <units>
      <cani move="7">-------------CANI
        <animation>
          <idle_right speed="5.0">
            <frame_1 x="0" y="0" w="16" h="17"/>
            <frame_2 x="16" y="0" w="16" h="17"/>
            <frame_3 x="32" y="0" w="16" h="17"/>
            <frame_4 x="16" y="0" w="16" h="17"/>
          </idle_right>
          <idle_left speed="5.0">
            <frame_1 x="80" y="0" w="16" h="17"/>
            <frame_2 x="64" y="0" w="16" h="17"/>
            <frame_3 x="48" y="0" w="16" h="17"/>
            <frame_4 x="64" y="0" w="16" h="17"/>
          </idle_left>
          <walk_right speed="6.5">
            <frame_1 x="0" y="17" w="16" h="17"/>
            <frame_2 x="16" y="17" w="16" h="17"/>
            <frame_3 x="32" y="17" w="16" h="17"/>
            <frame_4 x="48" y="17" w="16" h="17"/>
          </walk_right>
          <walk_left speed="6.5">
            <frame_1 x="112" y="17" w="16" h="17"/>
            <frame_2 x="96" y="17" w="16" h="17"/>
            <frame_3 x="80" y="17" w="16" h="17"/>
            <frame_4 x="64" y="17" w="16" h="17"/>
          </walk_left>
          <walk_up speed="6.5">
            <frame_1 x="0" y="34" w="16" h="17"/>
            <frame_2 x="16" y="34" w="16" h="17"/>
            <frame_3 x="32" y="34" w="16" h="17"/>
            <frame_4 x="48" y="34" w="16" h="17"/>
          </walk_up>
          <walk_down speed="6.5">
            <frame_1 x="64" y="34" w="16" h="17"/>
            <frame_2 x="80" y="34" w="16" h="17"/>
            <frame_3 x="96" y="34" w="16" h="17"/>
            <frame_4 x="112" y="34" w="16" h="17"/>
          </walk_down>
          <wait_right speed="5.0">
            <frame_1 x="0" y="51" w="16" h="17"/>
            <frame_2 x="16" y="51" w="16" h="17"/>
            <frame_3 x="32" y="51" w="16" h="17"/>
            <frame_4 x="16" y="51" w="16" h="17"/>
          </wait_right>
          <wait_left speed="5.0">
            <frame_1 x="80" y="51" w="16" h="17"/>
            <frame_2 x="64" y="51" w="16" h="17"/>
            <frame_3 x="48" y="51" w="16" h="17"/>
            <frame_4 x="64" y="51" w="16" h="17"/>
          </wait_left>
        </animation>
      </cani>
    </units>
    <buildings>
      <canibase>--------CANI BASE
        <animation>
          <idle>
            <frame_1 x="0" y="0" w="16" h="32"/>
          </idle>
        </animation>
      </canibase>
      <factory>---------FACTORY
        <animation>
          <idle>
            <frame_1 x ="16" y="0" w="16" h="16"/>
          </idle>
        </animation>
      </factory>
    </buildings>
  </entities>

</config>