<!-- Config file -->

<config>
  <app>
    <title>Warpolis</title>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <title>Warpolis project by Albert Llopart</title>
    <resolution width="960" height="540" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <input>
  </input>

  <textures>
  </textures>

  <audio>
    <volume music="32" fx ="128"/>
  </audio>

  <scene>
  </scene>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <gui>
    <atlas file="gui/atlas.png"/>
  </gui>

  <map>
    <folder>maps/</folder>
    <level_1 file="map1.tmx"/>
  </map>

  <player>
    <position x="15" y="10"/>
    <animation>
      <idle speed="5.0">
        <frame_1 x="0" y="0" w="22" h="22"/>
        <frame_2 x="22" y="0" w="22" h="22"/>
      </idle>
    </animation>
  </player>

</config>